/* You can add global styles to this file, and also import other style files */
$primarybg:#f5eded;
$textcolor:#2b2f4a;
body{
    margin: 0;
    background-color: $primarybg;
    color:$textcolor;
}
@font-face{
    font-family: Yekanbakh;
    src: url('/fonts/Yekanbakh.woff2');
}
*{
    font-family: Yekanbakh;
}
